.Header {
  background: $main-off-black;
  color: white;
  margin-bottom: $xlarge-spacing;
  padding: $medium-spacing 0;

  &__title {
    font-size: $xlarge-spacing;
    margin: 0;
  }

  &__subtitle {
    color: $main-off-white;
    font-size: $medium-spacing;
    font-weight: 500;
  }
}
