// Colors
$main-off-black:#20222b;
$main-off-white: #a5afd7;
$dark-blue-color: #333745;
$main-blue: #3c4251;
$light-blue: #464b5e;
$main-purple: #8357c5;

//Spacing
$medium-spacing: 1.6rem;
$large-spacing: 3.0rem;
$xlarge-spacing: 4.6rem;
$small-size: 1.2rem;